<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tkira.moon.dao.DiscussMsgMapper">
	<insert id="insert" parameterType="DiscussMsg" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO db_discuss_msg (
		content,
		short_msg,
		user_id,
		parent_msg_id
		)
		VALUES
		(#{content}, #{shortMsg}, #{sysUser.id},
		#{parentMsg.id});
	</insert>

	<select id="querySimpleById" parameterType="Integer" resultMap="DiscussMsgSimpleMap">
		SELECT
		id,
		content,
		short_msg,
		user_id,
		parent_msg_id 'parentMsg.id'
		FROM
		db_discuss_msg
		WHERE
		id = #{id};
	</select>
	<resultMap type="DiscussMsg" id="DiscussMsgSimpleMap">
		<association property="sysUser" column="user_id"
			select="com.tkira.moon.dao.SysUserMapper.queryUserInfo" />
	</resultMap>

	<select id="queryModelsByParentId" parameterType="Integer" resultMap="DiscussMsgModelMap">
		SELECT
		id,
		content,
		short_msg,
		user_id,
		parent_msg_id 'parentMsg.id'
		FROM
		db_discuss_msg
		WHERE
		parent_msg_id = #{parentId};
	</select>
	<resultMap type="DiscussMsgModel" id="DiscussMsgModelMap">
		<association property="sysUser" column="user_id"
			select="com.tkira.moon.dao.SysUserMapper.queryUserInfo" />
	</resultMap>
	
	<select id="queryChildrenCount" parameterType="Integer" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			db_discuss_msg
		WHERE
			parent_msg_id = #{parentId};
	</select>

</mapper>